<div id="details">
    <div class="data">
        <div class="icon">
            <img id="edit" src="../../assets/edit1.jpg" alt=""> <span routerLink="/edit" id="editData">EDIT</span> 
            <img id="delete" src="../../assets/delete2.png" alt=""> <span id="deleteData"  >DELETE</span>
        </div>
        <p id="contactName"><span>{{recordItems[0].name}}</span></p>
        <p id="contactEmail">Email: <span>{{recordItems[0].email}}</span></p>
        <p id="contactMobile">Mobile: <span>{{recordItems[0].mobile}}</span> </p>
        <p id="contactLandline">Landline: <span>{{recordItems[0].landline}}</span> </p>
        <p id="contactWebsite">Website: <span>{{recordItems[0].website}}</span> </p>
        <p id="contactAddress">Address: <span>{{recordItems[0].address}}</span></p>
    </div>
</div>